*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
   text-decoration: none;  
}
/* <!-- header section --> */

header{
    display: flex;
    justify-content: space-evenly;
    background-color: #131921;
    width: 100%;
    height: 56px;
    top: 0px;
    z-index: 1;
}
.header-left{
    width: 20%;
    margin-top: 10px;
    cursor: pointer;
}
.header-left a{
    float: left;
    color: rgb(249, 125, 42);
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.5px;
}
.addres{
    width: 50%;
    height: 500px;
    float: left;
    margin-left: 3.33%;
    margin-right: 3.33%;
    margin-top: 10px;
}
.product{
    width: 40%;
    height: 300px;
    float: left;
    border: 1px solid #9a9999;
    margin-right: 3.33%;
    margin-top: 10px;
}

/*delivery addres coding start*/
.form-style-9{
	max-width: 40%px;
    height: 500px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 1px solid #305A72;
    margin-top:0;
}
.form-style-9 ul{
	padding:0;
	margin:0;
	list-style:none;
}
.form-style-9 ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}
.form-style-9 ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style-9 ul li .field-split{
	width: 49%;
}
.form-style-9 ul li .field-full{
	width: 100%;
}
.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style-9 ul li input[type="button"], 
.form-style-9 ul li input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: rgb(249, 125, 42);
	border: 1px solid rgb(249, 125, 42);
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style-9 ul li input[type="button"]:hover, 
.form-style-9 ul li input[type="submit"]:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}
/*delivery addres coding end*/
/*price detailes coding start*/

	.pricehead{
		float: left;
		margin-left: 30px;
		margin-top: 15px;
	}
	.onepro{
		margin-left: 30px;
		margin-top: 25px;
	}
	.pay{
		background-color: rgb(249, 125, 42);
		color: white;
		width: 60px;
		height: 20px;
		border-color: rgb(249, 125, 42);
	}
/*price details coding end*/