*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
/* <!-- header section --> */

header{
    display: flex;
    justify-content: space-evenly;
    background-color: #131921;
    width: 100%;
    height: 56px;
    position: sticky;
    top: 0px;
    z-index: 100;
}
.header-left{
    width: 20%;
    text-align: right;
    margin-top: 10px;
    margin-right: 7px;
    cursor: pointer;
}
.header-left a{
    color: rgb(249, 125, 42);
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1.5px;
    
}
.header-center{
    width: 40%;
    text-align: left;
    line-height: 50px;
    cursor: pointer;
    padding-left: 10px;
    position: relative;
}
.header-center-input{
    height: 36px;
    width: 100%;
    border: none;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 2px;
}
.fa-search{
    position: absolute;
    top: 35%;
    left: 94%;
    font-size: 18px;
    color: rgb(6, 2, 2);
}
.header-right{
    width: 40%;
    font-size: 15px;
    display: flex;
   justify-content: flex-start;
   text-transform: capitalize;
   line-height: 50px;
}
.header-right a{
    text-decoration: none;
    color: white;
    margin: 0px 25px;
}
.header-right .active{
    background-color: white;
    color: rgb(6, 5, 5);
    padding: 5px 30px;
    height: 35px;
    width: 130px;
    line-height: 23px;
    margin-top: 10px;
    border-radius: 2px;
    text-align: center;
}
.fa-shopping-cart{
    padding-right: 10px;
}
.fa-sort-down{
    padding-left: 5px;

}

/* <!-- category-section --> */


.category-row{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    background-color: #232F3E;
}
.category-col{
    margin-top: 8px;
    font-size: 18px;
    color: white;
}
.category-col h5:hover{
   color: rgb(249, 125, 42);
}



.result-search{
    width: 100%;
    height: 38px;
    border: 1px solid white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
    margin-bottom: 5px;
}
p{
    margin-top: 10px;
}
b{
    color: rgb(249, 125, 42);
}

/*filter coding start*/

.filter-box{
    width: 100%;
    height: 33px;
    border: 1px solid white;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
}
.filter-content{
    margin-top: 5px;
}
.content{
    float: left;
}
.content :hover{
    color: rgb(249, 125, 42);
}
/*filter coding end*/


/*search content coding start*/
.phone-box{
    width: 100%;
    height: 232px;
    float: left;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
    margin-top: 10px;
}
.phone{
    width: 275px;
    height: 232px;
    float: left;
}
.phone-box img{
    width: 160spx;
    height: 170px;
    float: left;
    margin-top: 50px;
    margin-left: 58px;
}
.phone-details{
    width: auto;
    height: 230px;
    float: left;
    margin-left: 50px;
    margin-top: 40px;
}
.laptop-name:hover{
    color: rgb(249, 125, 42);
}
.fasalite{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    line-height: 25px;
}
.phone-prices{
    width: 381px;
    height: 231px;
    float: right;
    margin-left: 110px;
    margin-top: 40px;
}
.phone-prices p{
    font-size: 25px;
    margin-left: 20px;
}
.phone-prices h4,h5{
    margin-left: 20px;
    line-height: 20px;
}
/*search content end coding*/
/*footer coding start*/
footer{
    background-color: #172337;
}
.footer-row{
    margin-top: 191.3%;
    width: 100%;
    height: 270px;
    display: flex;
    padding: 30px 60px;
}
.foot{
    float: left;
    width: 215px;
    height: 220px;
    border: 1px solid #878787;
    color: white;
    margin-left: 105px;
}
.det{
    font-family: Roboto,Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #878787;
    margin-left: 19px;
    margin-top: 10px;
}

.op{
    font-family:  Roboto,Arial,sans-serif;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
}
#a{
    color: white;
}

/*footer coding end*/